numpy
matplotlib
scipy
lime
joblib
scikit-learn
python-ternary
pandas
pillow
scikit-image
tqdm
opencv-python-headless
seaborn
jupyter
mypy
ruff
pandas-stubs
xgboost
openpyxl
jinja2
pytest
shap
interpret
types-tqdm
types-Pillow
lightgbm
