mypy
ruff 
pandas-stubs 
numpy>=1.26.3,<=2.1.3
matplotlib 
xgboost 
pandas 
scikit-learn 
openpyxl 
jinja2 
python-ternary 
pytest 
shap 
interpret 
types-tqdm 
types-Pillow 
scikit-image 
lightgbm 
lime 
tqdm
Pillow
opencv-python-headless==4.10.0.84